<%- include('partials/navbar') %>

<h1> <%= songId.songTitle%> - <%=songId.songArtist  %> </h1>

<ul class="list-group">

    <li class="list-group-item list-group-item-success">Appeal: <%= songId.appeal  %> </li>
    <li class="list-group-item list-group-item-danger">Difficulty: <%= songId.difficulty  %> </li>
    <li class="list-group-item list-group-item-info">Video Link: <%= songId.videoLink  %> </li>
</ul>

<h4>Song Progress</h4>




<%- include('partials/footer') %>