<%- include('partials/navbar') %>

<h1>Song Home</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Song Workbook</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Appeal</th>
            <th>Difficulty</th>
            <th>Video Link</th>
            <th> Guitar Tab </th>
            <th> Delete Song</th>
        </tr>
    </thead>
    <tbody>
        <% allsongs.forEach(function(g) { %>
            <tr>
                <td> <a href="/<%=g._id%>"> Song Workbook</a> </td>
                <td><%= g.songTitle %></td>
                <td><%= g.songArtist %></td>
                <td><%= g.appeal %></td>
                <td><%= g.difficulty %></td>
                <td> <a href = "<%= g.videoLink%>" onclick="window.open(this.href); return false;"> <button class="go" type= "submit">Video </button></a> </td>
                <td> <a href = "<%= g.guitarTab%>" onclick="window.open(this.href); return false;"> <button class="go" type= "submit">Tab </button> </a> </td>
                <td><form action="/delete/<%=g._id%>?_method=DELETE"; class="delete-form" method="POST">  <button class="delete" type= "submit">Delete </button> </form>  </td>
              

            </tr>   
        <% }) %>
    </tbody>
</table>

<%- include('partials/footer') %>
