
      <%- include('../partials/navbar') %>
<h1>practice home</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Workbook</th>
            <th>Primary Chord</th>
            <th>Secondary Chord</th>
        </tr>
    </thead>
    <tbody>
        <% allchords.forEach(function(c) { %>
        <tr>
            <td> <a href="/practice/<%=c._id%>"> Chord Workbook</a> </td>
            <td><%= c.primaryChord %></td>
            <td><%= c.secondaryChord %></td>
        </tr>

        <% }) %>
</table>
<%- include('../partials/footer') %>